/****** Footer ***********/
.col-footer {
  width: 30%;
  padding: 20px;
  gap: 15px;
}

.footer-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

.list-style {
  padding: 0;
  list-style: none;
}

.li-style {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  padding-bottom: 12px;
}