/****** Footer ***********/
.footer-flex {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: $black-gray;
  padding: 80px 45px 25px 45px;
  gap: 85px;
}

.home-footer-btn {
  display: flex;
}

footer nav {
  display: flex;
  gap: 40px;
}

.footer-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
}

footer ul {
  display: flex;
  gap: 18px;
  margin: 0;
  padding: 0;
}

footer a {
  display: flex;
  gap: 10px;
  font-size: 16px;
  color: $white;
  line-height: 19px;
  font-weight: 400;
  padding: 0;
  list-style: none;

  &:hover {
    text-decoration: underline;
  }
}

footer li {
  list-style: none;
}

.li-style {
  font-weight: 300;
}

.logo-btn-footer {
  filter: invert(100%);
  width: 120px;
}