.heart-show {
  display: block;
  position: relative;
  overflow: hidden;
  transition: .3s all ease-in-out;
}

.heart-hide {
  display: none;
  position: absolute;
  left: 0;
  transition: .3s all ease-in-out;
}

.heart-show:hover .heart-hide {
  display: block;
  color: #9356DC;
  animation: show-heart .3s ease-in-out;
}

@keyframes show-heart {
  from { opacity: 0 }
  to { opacity: 100% }
}
