.heart {
  display: block;
  position: relative;
  overflow: hidden;

  &__hide {
    display: none;
    font-size: 22px;
    position: absolute;
    left: 0;
  }

  &__show {
    font-size: 22px;
  }

  &:hover &__hide {
    display: block;
    background: -webkit-linear-gradient(#FF79DAE5, #9356DCE5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: show-heart .3s ease-in-out;
    animation-delay: 0s;
  }
}

@keyframes show-heart {
  from { opacity: 0 }
  to { opacity: 100% }
}
