// Geo section
#geo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.geo-section {
  display: flex;
  background-color: $bg-gray-2;
  padding: 15px 0;
  justify-content: center;
  gap: 10px;
}


// Hero
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.hero h1 {
  font-size: 38px;
  margin: 0 0 20px 0;

}

.hero p {
  padding: 5px 0 22px 0;
}

.btn-brackets {
  display: inherit;
  position: relative;
  width: fit-content;
}




// Fonctionnement
#fonctionnement {
  display: flex;
  background-color: $white;
  flex-direction: column;
  align-items: center;
  padding: 50px 25px;
}

#fonctionnement .h2 {
  margin: 25px 0 0 0!important;
}

.f-show-flex {
  display: flex;
  gap: 42px;
}

.steps {
  display: flex;
  width: 28%;
  background-color: $bg-gray;
  padding: 22px 20px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.steps div {
  display: flex;
  align-items: center;
  gap: 22px;
  margin: 0 0 0 -30px;
}

.steps span {
  display: flex;
  background: $primary;
  border-radius: 100px;
  padding: 5px 10px;
  color: #fff;
}

.steps i {
  font-size: 20px;
  color: #808080!important;
}

.steps .fa-shop {
  color: $primary!important;
}

.steps p {
  font-weight: 600;
}





// Restaurants
#restaurants {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 25px;
}

.restaurant-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
}

.one-resto {
  width: calc(50% - 50px);
  border-radius: 16px;
  background-color: #fff;
  overflow: hidden;
  border: 1px solid #fff;
  transition: .3s all ease-in-out;

  &:hover {
    border: 1px solid #000;
  }
}

.new {
  position: relative;
}

.new-badge {
  position: absolute;
  color: #008766;
  right: 14px;
  top: 14px;
  font-size: 16px;
  padding: 6px 10px;
  background-color: #99E2D0;
  border-radius: 3px;
}

.block-resto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 18px;
}

.block-resto i {
  font-size: 24px;
}

.infos-resto h3 {
  margin-bottom: 6px;
}



.img-resto {
  height: 220px;
  width: 100%;
  object-fit: cover;
}

















.btn-brackets:hover:before {
  content: "[";
  display: inline-block;
  left: -4px;
  position: absolute;
}

.btn-brackets:hover:after {
  content: "]";
  display: inline-block;
  position: absolute;
  right: -4px;
}


// Cards
.card-activity {
  background-color: white;
  border: 1px solid $main-bg-color;
  border-radius: 20px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
  transition: .3s all ease-in-out;

  &:hover {
    border: 1px solid $main-color;
  }
}

.card-content-v {
  padding: 10px;
}

.img-h {
  height: 120px;
  width: 100%;
  object-fit: cover;
}

.img-activity {
  height: 350px;
  width: 100%;
  object-fit: cover;
}

.card-title-activity {
  font-size: 16px;
  font-weight: 700;
  padding: 8px;
}





/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .img-activity {
    height: 200px!important;
    width: 100%;
    object-fit: cover;
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

// Small devices (phones, less than 768px)
@media (max-width: 767.98px) {
  .img-activity {
    height: 200px!important;
    width: 100%;
    object-fit: cover;
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 100%;
  }

  .col-footer {
    width: 100%;
    padding: 20px;
    gap: 15px;
  }
}