.img-hero {
  height: 450px;
  width: 100%;
  object-fit: cover;
}

.menu-list {
  display: flex;
  width: 100%;
  max-width: 1140px;
  background-color: $bg-gray;
  padding: 50px;
  border-radius: 30px;
  margin-top: -50px;
  flex-direction: column;
  align-items: center;
}

.title_heart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.title_heart i {
  font-size: 24px;
}

.styled-menu-title {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: 400;
  margin: 0;
}

.menu-listing {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  width: 100%;
  gap: 16px;
  margin-bottom: 50px;
}

.menu-list .btn-default {
  padding: 14px 42px !important;
}

.menuItem h3 {
  margin: 0 0 10px 0;
}

.in-menu-title {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}

.line {
  display: block;
  width: 40px;
  height: 2px;
  background-color: #99e2d0;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content span {
  font-weight: 600;
}









// Animation On Hover - Check
.menuItem {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);

  &__plateHover {
    display: flex;
    align-items: center;
    overflow: hidden;
    border-radius: 12px;
  }

  &__header {
    flex: 1;
    padding: 15px;
  }

  &__check {
    display: flex;
    background-color: #99E2D0;
    height: 5rem;
    width: 3rem;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: -1rem -5.5rem -1rem 1rem;
    transition-duration: 0.5s;
  }

  &__check i {
    font-size: 1.5rem;
    color: $white;
  }

  &__plateHover:hover .menuItem__check {
    margin-right: 0;
  }
}




