$main-color: #0065FC;
$main-bg-color: #F2F2F2;
$bg-gray: #EAEAEA;

$filter-gray-border: #e1e1e1;

.text-white {
  color: #fff!important;
}

.bg-white {
  background-color: #fff;
}

header {
  background-color: #fff;
}