/******** Containers ********/
body {
  width: inherit;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  margin: 0;
  background: #F6F6F6;
}

html, body {
  height: 100%;
  width: 100%;
}

header {
  width: 100%;
}

main {
  width: 100%;
}

footer {
  width: 100%;
  background-color: $main-bg-color;
  margin-top: 50px;
}

.conteneur {
  width: 100%;
  max-width: 1440px;
}

section .h2 {
  margin: 25px 0 0 0!important;
}

#aligned-section {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  align-items: center;
}


// li no style
.no-style-li {
  list-style: none;
}

.line-height-inherit {
  line-height: inherit;
}